@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Semibold.woff2') format('woff2'), url('../fonts/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Bold.woff2') format('woff2'), url('../fonts/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Thin.woff2') format('woff2'), url('../fonts/SFProText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Medium.woff2') format('woff2'), url('../fonts/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Light.woff2') format('woff2'), url('../fonts/SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Regular.woff2') format('woff2'), url('../fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Heavy.woff2') format('woff2'), url('../fonts/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Black.woff2') format('woff2'), url('../fonts/SFProText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* icons */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?n95cwq');
    src: url('../fonts/icomoon.eot?n95cwq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?n95cwq') format('truetype'), url('../fonts/icomoon.woff?n95cwq') format('woff'), url('../fonts/icomoon.svg?n95cwq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e901";
}

.icon-preference:before {
    content: "\e902";
}

.icon-notification:before {
    content: "\e903";
}

.icon-bookmark:before {
    content: "\e904";
}

.icon-explore:before {
    content: "\e905";
}

.icon-home:before {
    content: "\e906";
}

.icon-tip:before {
    content: "\e907";
}

.icon-heart:before {
    content: "\e908";
}

.icon-lock:before {
    content: "\e909";
}

.icon-logout:before {
    content: "\e90a";
}

.icon-message:before {
    content: "\e90b";
}

.icon-plus:before {
    content: "\e900";
}

/* globle start*/

a:focus {
    outline: none;
}

.btn {
    border-radius: 100px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.btn-outline {
    border: 1px solid #252525;
    background-color: transparent;
}

.btn-outline:hover {
    border-color: #824DB7;
    background-color: #824DB7;
    color: #fff;
}

.btn:focus, button:focus {
    box-shadow: none;
}

.btn-purple {
    background-color: #824DB7;
    border-color: #824DB7;
    color: #fff;
}

.btn-purple:hover {
    background-color: #824DB7;
    border-color: #824DB7;
    color: #fff;
}

.btn.disabled {
    background-color: #DFDFDF;
    border-color: #DFDFDF;
    opacity: 1;
}

.form-control {
    color: #202020 !important;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before, .custom-radio .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.nav-backdrop {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}

body.navigation-open {
    overflow: hidden;
}

.navigation-open .nav-backdrop {
    display: block;
}

.validation-icon {
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 20px;
}

.success-validate .validation-icon {
    color: #00be60;
}

.error-validate .validation-icon {
    color: #ad0000;
}

.error-validate .error-validate-msg {
    position: absolute;
    bottom: -22px;
    right: 0;
    display: block;
    color: #ad0000;
    font-size: 13px;
    font-weight: normal;
    z-index: 10;
}

.signup-error {
    margin-top: 20px;
    text-align: center;
    color: #ad0000;
    font-size: 13px;
    border: 1px solid #ff9d9d;
    background-color: #ffe0e4;
    padding: 5px;
    border-radius: 40px;
}

.loader-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.cssload-loader {
    position: absolute;
    left: 50%;
    width: 47.284271247462px;
    height: 47.284271247462px;
    margin-left: -23.142135623731px;
    margin-top: -23.142135623731px;
    border-radius: 100%;
    animation-name: cssload-loader;
    -o-animation-name: cssload-loader;
    -ms-animation-name: cssload-loader;
    -webkit-animation-name: cssload-loader;
    -moz-animation-name: cssload-loader;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-duration: 4.6s;
    -o-animation-duration: 4.6s;
    -ms-animation-duration: 4.6s;
    -webkit-animation-duration: 4.6s;
    -moz-animation-duration: 4.6s;
}

.cssload-loader .cssload-side {
    display: block;
    width: 6px;
    height: 19px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.73s;
    -o-animation-duration: 1.73s;
    -ms-animation-duration: 1.73s;
    -webkit-animation-duration: 1.73s;
    -moz-animation-duration: 1.73s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
}

.cssload-loader .cssload-side:nth-child(1), .cssload-loader .cssload-side:nth-child(5) {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    animation-name: cssload-rotate0;
    -o-animation-name: cssload-rotate0;
    -ms-animation-name: cssload-rotate0;
    -webkit-animation-name: cssload-rotate0;
    -moz-animation-name: cssload-rotate0;
}

.cssload-loader .cssload-side:nth-child(3), .cssload-loader .cssload-side:nth-child(7) {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    animation-name: cssload-rotate90;
    -o-animation-name: cssload-rotate90;
    -ms-animation-name: cssload-rotate90;
    -webkit-animation-name: cssload-rotate90;
    -moz-animation-name: cssload-rotate90;
}

.cssload-loader .cssload-side:nth-child(2), .cssload-loader .cssload-side:nth-child(6) {
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    animation-name: cssload-rotate45;
    -o-animation-name: cssload-rotate45;
    -ms-animation-name: cssload-rotate45;
    -webkit-animation-name: cssload-rotate45;
    -moz-animation-name: cssload-rotate45;
}

.cssload-loader .cssload-side:nth-child(4), .cssload-loader .cssload-side:nth-child(8) {
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    animation-name: cssload-rotate135;
    -o-animation-name: cssload-rotate135;
    -ms-animation-name: cssload-rotate135;
    -webkit-animation-name: cssload-rotate135;
    -moz-animation-name: cssload-rotate135;
}

.cssload-loader .cssload-side:nth-child(1) {
    top: 23.142135623731px;
    left: 47.284271247462px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(2) {
    top: 40.213203431093px;
    left: 40.213203431093px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(3) {
    top: 47.284271247462px;
    left: 23.142135623731px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(4) {
    top: 40.213203431093px;
    left: 7.0710678163691px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(5) {
    top: 23.142135623731px;
    left: 0px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(6) {
    top: 7.0710678163691px;
    left: 7.0710678163691px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(7) {
    top: 0px;
    left: 23.142135623731px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(8) {
    top: 7.0710678163691px;
    left: 40.213203431093px;
    margin-left: -3px;
    margin-top: -10px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

@keyframes cssload-rotate0 {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@-o-keyframes cssload-rotate0 {
    0% {
        -o-transform: rotate(0deg);
    }
    60% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(180deg);
    }
}

@-ms-keyframes cssload-rotate0 {
    0% {
        -ms-transform: rotate(0deg);
    }
    60% {
        -ms-transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(180deg);
    }
}

@-webkit-keyframes cssload-rotate0 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    60% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@-moz-keyframes cssload-rotate0 {
    0% {
        -moz-transform: rotate(0deg);
    }
    60% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(180deg);
    }
}

@keyframes cssload-rotate90 {
    0% {
        transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-o-keyframes cssload-rotate90 {
    0% {
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-ms-keyframes cssload-rotate90 {
    0% {
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes cssload-rotate90 {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-moz-keyframes cssload-rotate90 {
    0% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes cssload-rotate45 {
    0% {
        transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-o-keyframes cssload-rotate45 {
    0% {
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-ms-keyframes cssload-rotate45 {
    0% {
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-webkit-keyframes cssload-rotate45 {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-moz-keyframes cssload-rotate45 {
    0% {
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -moz-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -moz-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@keyframes cssload-rotate135 {
    0% {
        transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-o-keyframes cssload-rotate135 {
    0% {
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-ms-keyframes cssload-rotate135 {
    0% {
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-webkit-keyframes cssload-rotate135 {
    0% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-moz-keyframes cssload-rotate135 {
    0% {
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-loader {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-loader {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* globle end */

html, body {
    height: 100%;
}

body {
    font-family: 'SFProText';
    color: #202020;
}

/* .bodyStyle {
   background-image: url("../images/text.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #151515;
} */

.white-radius-box {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15);
    border-radius: 48px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    width: 100%;
}


.landing .box {
    padding: 40px 40px 30px;
    width: 435px;
}

.box {
    position: relative;
    max-width: 100%;
}

.login-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.box-heading {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: -57px;
}

.tell-to-fans {
    margin-top: 70px;
    margin-bottom: 65px;
    position: relative;
}

.tell-to-fans::before {
    content: '';
    /*background-image: url(../images/arrow.png);*/
    background-repeat: no-repeat;
    position: absolute;
    right: -12px;
    width: 46px;
    height: 100px;
    background-size: 100%;
    top: -70px;
}

.tell-to-fans h1 {
    margin: 0 0 10px;
    font-weight: 900;
    font-size: 39px;
}

.tell-to-fans .sub-heading {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}

.social-login {
    margin-bottom: 15px;
}

.social-login .btn {
    width: 170px;
}

.already-member {
    font-weight: 500;
}

.already-member a {
    text-decoration: underline;
    color: #202020;
}

.already-member a:hover {
    color: #824DB7;
}

/* login and sign up start */

.login {
    padding-top: 60px;
}

.login .box {
    padding: 88px 30px 30px;
    width: 415px;
    min-height: 620px;
}

.login .social-login {
    margin-top: 55px;
}

.or {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
}

.login-fields {
    margin-top: 30px;
}

.login-fields .form-group {
    margin-bottom: 35px;
}

.login-fields .form-control {
    border: none;
    border-bottom: 1px solid #979797;
    border-radius: 0;
    padding: 0;
    font-weight: 500;
    height: 40px;
}

.login .custom-control {
    padding-left: 2rem;
}

.login .custom-control label {
    font-size: 13px;
    color: #999999;
    font-weight: 500;
}

.login .custom-control-input {
    width: 24px;
}

.login .custom-control-label::before {
    width: 24px;
    height: 24px;
    left: -2rem;
}

.login .custom-control-label::after {
    width: 24px;
    height: 24px;
    left: -2rem;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #824DB7;
    border-color: #824DB7;
}

/* login and sign up end */

/* footer start */

.login-footer {
    padding: 35px 0;
}

.login-footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-footer li {
    margin: 0 15px;
    font-weight: 500;
    list-style: none;
}

.login-footer li a {
    color: #fff;
}

.link-forgot-password {
    color: #BABABA;
    text-decoration: underline;
    font-weight: 500;
}

.link-forgot-password:hover {
    color: #824DB7;
}

/* footer end */

/* content start */

.main-wapper {
    width: 100%;
    color: #fff;
}

.content-wrapper {
    padding-left: 415px;
    padding-right: 85px;
    padding-top: 165px;
    padding-bottom: 80px;
}

.section-heading {
    font-size: 20px;
    font-weight: bold;
}

/* content end */

/* header start */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    padding-left: 415px;
    top: 0;
    width: 100%;
    padding-right: 85px;
    z-index: 9;
    background-color: #272727;
    padding-top: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #444040;
}

.header-right-section {
    display: flex;
    align-items: center;
}

.header-right-section .notififations {
    align-items: center;
    display: flex;
    position: relative;
}

.header-right-section .btn-notification {
    color: #fff;
    text-decoration: none;
    display: flex;
}

.header-right-section .notififations i {
    font-size: 25px;
}

.notification-dropdown {
    background-color: #fff;
    border-radius: 12px;
    width: 360px;
    position: absolute;
    top: 40px;
    right: -30px;
    padding: 20px 15px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .3);
    display: none;
}

.notification-dropdown::after {
    bottom: 100%;
    right: 32px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.notification-dropdown ul {
    width: 360px;
    max-height: 285px;
    overflow: auto;
    padding-left: 0;
    padding-right: 17px;
    margin-bottom: 0;
}

.notification-dropdown li {
    list-style: none;
    color: #222;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
}

.notification-dropdown li .post-time {
    font-size: 12px;
    white-space: nowrap;
    margin-left: 20px;
    color: #b9b9b9;
}

.notification-dropdown li p {
    line-height: 15px;
}

.notification-dropdown li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.view-all {
    text-align: center;
    width: 100%;
    color: #824db7;
    font-weight: bold;
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-all::before {
    content: '';
    position: absolute;
    bottom: 60px;
    width: 100%;
    border-top: 1px solid #dfdfdf;
}

.view-all:hover {
    text-decoration: none;
    color: #824db7;
}

.search-section {
    width: 340px;
    position: relative;
}

.search-section i {
    position: absolute;
    top: 17px;
    left: 20px;
    color: #8E8E93;
}

.search-section input {
    background-color: #313131 !important;
    border: none;
    border-radius: 100px;
    color: #fff !important;
    height: 50px;
    padding-left: 50px;
}

.btn-add-content {
    padding: 0 20px;
    text-transform: capitalize;
    white-space: nowrap;
    margin-left: 25px;
}

.btn-add-content i {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 10px;
}

/* header end */

/* left navigation start */

.left-navigation {
    background-color: #161616;
    position: fixed;
    height: 100%;
    width: 330px;
    overflow: auto;
    padding-bottom: 30px;
    transition: all 250ms ease-in-out;
    z-index: 99;
}

.navigation-open .left-navigation {
    left: 0;
}

.left-navigation .logo {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.left-navigation .logo img {
    max-width: 200px;
}

.left-navigation .user-info {
    text-align: center;
    font-weight: 500;
}

.left-navigation .user-info a {
    color: #fff;
    text-decoration: none;
}

.left-navigation .user-info .user-img {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.user-img img {
    width: 110%;
}

.left-navigation .user-info .full-name {
    font-weight: bold;
    font-size: 20px;
    max-width: 200px;
    margin: 15px auto 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.left-navigation .user-info .user-name {
    color: #7E7F85;
    font-size: 16px;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

.feed-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.feed-info>div {
    flex-grow: 1;
    position: relative;
}

.feed-info>div .text {
    color: #7E7F85;
    margin-top: 5px;
}

.feed-info>div:after {
    content: '';
    position: absolute;
    border: 1px solid #5D5D5D;
    height: 48px;
    right: 0;
}

.feed-info>div:last-child:after {
    display: none;
}

.navigation {
    margin: 0 25px;
    padding: 0;
}

.navigation li {
    list-style: none;
    margin-bottom: 10px;
}

.navigation li .nav-link {
    color: #B9B9B9;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 8px 0;
}

.navigation li .nav-link i {
    margin-right: 15px;
    font-size: 22px;
}

.navigation li.active .nav-link {
    color: #fff;
}

.navigation li.active .nav-link i {
    color: #F99E3E;
}

.navigation>li:last-child {
    border-top: 1px solid #5D5D5D;
    margin-top: 22px;
    padding-top: 20px;
    margin-bottom: 0;
}

.navigation li .nav-link:hover {
    color: #fff;
}

.navigation li .nav-link:hover i {
    color: #F99E3E;
}

.custom-dropdown-menu {
    margin: 10px 0px 0px 6px;
    padding-left: 0;
    display: none;
}

.custom-dropdown-menu li {
    list-style: none;
    position: relative;
    padding-left: 20px;
}

.custom-dropdown-menu li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #B9B9B9;
    left: 0;
    top: 7px;
    border-radius: 20px;
}

.custom-dropdown-menu li .dropdown-link {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 15px;
}

.custom-dropdown-menu li:hover .dropdown-link {
    color: #F99E3E;
}

.custom-dropdown-menu li:hover::before {
    border-color: #F99E3E;
}

/* left navigation end */

/* explore page start */

.action-btn .btn-link {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

.action-btn .btn-link.active {
    color: #F99E3E;
    font-weight: 600;
}

.img-box {
    border-radius: 12px;
    overflow: hidden;
}

.image-caption {
    margin-top: 15px;
    min-height: 48px;
}

.image-caption .caption-heading {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.image-caption .caption-text {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
}

.grid-item img {
    max-width: 100%;
    width: 100%;
}

.toggle-switch {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.main-wapper .login-footer {
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #272727;
    padding-left: 415px;
    width: 100%;
    z-index: 2;
}

.main-wapper .login-footer ul {
    justify-content: flex-start;
}

.main-wapper .login-footer li {
    margin: 0 25px 0 0;
}

.main-wapper .login-footer li a {
    font-size: 13px;
}

.grid {
    margin-left: -0.7%;
    margin-right: -0.7%;
}

.grid-item {
    margin-bottom: 40px;
    margin-left: 0.7%;
    margin-right: 0.7%;
    width: 23.51%;
}

.sec-head {
    left: 0;
    padding-left: 415px;
    top: 93px;
    width: 100%;
    padding-right: 85px;
    position: fixed;
    z-index: 9;
    background-color: #272727;
    padding-top: 22px;
    padding-bottom: 18px;
}

/* explore page end*/

/* Feeds start*/

.feed-section .feeds {
    max-width: 1100px;
}

.feed-section .feeds .left-content {
    width: 620px;
    position: relative;
    z-index: 1;
}

.feed-section .feeds .right-content {
    position: fixed;
    left: 0;
    top: 165px;
    width: 100%;
    padding-left: 1060px;
    padding-right: 85px;
}

.feed-box {
    border: 1px solid #707070;
    border-radius: 12px;
    margin-bottom: 50px;
    background-color: #272727;
}

.feed-header {
    padding: 15px 20px;
}

.subscriber-info .subscriber-img {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscriber {
    position: relative;
    margin-right: 12px;
}

.subscriber-info .subscriber.online:before {
    content: '';
    position: absolute;
    bottom: 1px;
    background-color: #7DBF3A;
    border: 1px solid #272727;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    right: 0px;
}

.subscriber-info .subscriber-img img {
    max-width: 50px;
}

.subscriber-info .subscriber-details h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0;
}

.subscriber-info .subscriber-details p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
}

.subscriber-feed-info {
    font-size: 14px;
}

.subscriber-feed-info .post-price {
    color: #814AB1;
    font-weight: bold;
}

.subscriber-feed-info .more-info .btn-more-info {
    font-size: 20px;
    color: #fff;
}

.post-info {
    padding: 0 20px 0;
}

.post-img {
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.post-img.locked:after {
    background-color: rgba(255, 255, 255, 0.8);
    content: '';
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
}

.post-img.locked img {
    filter: blur(10px);
}

.btn-lock {
    position: absolute;
    z-index: 4;
    font-size: 30px;
    color: #272727;
    display: none;
}

.locked .btn-lock {
    display: block;
}

.btn-lock:hover {
    text-decoration: none;
    color: #272727;
}

.post-img.locked .btn-payment {
    position: absolute;
    z-index: 99;
    background-color: #161616;
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    outline: none;
    text-align: center;
    transition: all 250ms ease-in-out;
}

.post-img.locked .btn-payment span {
    color: #814AB1;
    font-size: 18px;
    display: block;
}

.like-and-comments i {
    font-size: 22px;
    margin-right: 10px;
}

.liked i {
    color: #F99E3E;
}

.like-and-comments>div {
    cursor: pointer;
}

.like-and-comments>div span {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.bookmark .link-bookmark {
    color: #fff;
    font-size: 22px;
    text-decoration: none !important;
}

.post-text {
    margin: 20px 0;
    font-size: 14px;
}

.message-box {
    display: flex;
    align-items: center;
    border-top: 1px solid #707070;
    padding: 10px 20px;
}

.message-box textarea {
    flex-grow: 1;
    margin-right: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    resize: none;
    font-size: 14px;
}

.message-box textarea:focus {
    outline: none;
}

.message-box .btn-post {
    font-size: 12px;
    height: 25px;
    line-height: 1;
    min-width: 65px;
}

.feed-section .trending-profiles {
    max-width: 350px;
    min-width: 300px;
    border: 1px solid #707070;
    padding: 20px 20px 25px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.trending-profiles header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trending-profiles header h5 {
    font-size: 16px;
    margin-bottom: 0;
}

.link-seeAll {
    color: #F99E3E;
}

.link-seeAll:hover {
    color: #F99E3E;
    text-decoration: none;
}

.subscribed-users {
    padding: 0;
    margin: 0;
}

.subscribed-users li {
    list-style: none;
    border-bottom: 1px solid #464646;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribed-users li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.link-subscribe {
    font-size: 13px;
    color: #7A7A7A;
}

.link-subscribe:hover {
    color: #F99E3E;
    text-decoration: none;
}

/* Feeds end*/

/* Profile Start */

.Profile .user-info {
    font-weight: 500;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.Profile .user-info .user-img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 20px;
}

.Profile .user-info .user-img img {
    width: 100%;
}

.Profile .user-info .user-details .full-name {
    font-weight: bold;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.Profile .user-info .user-name {
    color: #7E7F85;
    font-size: 20px;
}

.btn-edit-profile {
    border-color: #ffffff;
    height: 30px;
    color: #fff;
    font-size: 14px;
    display: inline-flex;
    padding: 0 20px;
    margin-top: 10px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.Profile .web-link {
    color: #fff;
}

.Profile .web-link:hover {
    color: #F99E3E;
    text-decoration: none;
}

.profile-tabs .nav-tabs {
    border-bottom: 2px solid #707070;
}

.profile-tabs .nav-tabs .nav-item.show .nav-link, .profile-tabs .nav-tabs .nav-link.active {
    color: #f98d26;
    background-color: transparent;
    border-bottom: 2px solid #f98d26;
}

.profile-tabs .nav-tabs .nav-link {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #dfdfdf;
    border: none;
    display: block;
}

.profile-tabs .nav-tabs .nav-item {
    margin-bottom: -2px;
    margin-right: 20px;
    width: 100px;
}

.profile-tabs .tab-content {
    margin-top: 30px;
}

.post-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 5px solid;
}

.post-grid-box {
    width: 20%;
    position: relative;
    padding: 5px;
}

.post-grid-box a {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.post-grid-box:hover>a {
    opacity: 1;
}

.post-grid-box img {
    max-width: 100%;
    width: 100%;
}

.post-dialog {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.post-dialog .dialog-body {
    max-width: 450px;
}

.membership-plans .btn {
    width: 315px;
}

.membership-plans .btn-outline {
    border-color: #fff;
    color: #fff;
}

.membership-plans .btn-outline:hover {
    border-color: #fff;
    background-color: transparent;
}

/* Profile End */

/* edit profile start */

.popup-box.edit-profile .modal-dialog {
    width: 640px;
    max-width: 95%;
    margin: 20px auto;
}

.edit-profile .btn {
    flex: 1;
    width: 100%;
}

.form-group i.icon {
    position: absolute;
    top: 8px;
    font-size: 20px;
    right: 12px;
    color: #999;
}

.edit-profile .user-profile-pic {
    width: 100%;
    margin-bottom: 30px;
}

.edit-profile .user-profile-pic:before {
    content: '';
    background-color: #824DB7;
    position: absolute;
    width: 100%;
    height: 82px;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0px 0px;
}

.user-profile-pic .user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.user-profile-pic .user-img img {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 100%;
}

.user-profile-pic .user-img .btn-change-pic {
    position: absolute;
    bottom: 2px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #814AB1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid #814AB1;
    text-decoration: none;
    overflow: hidden;
}

.user-profile-pic .user-img .btn-change-pic input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}

/* edit profile end */

/* Popup start*/

.popup-box {
    padding-right: 0 !important;
}

.popup-box .modal-content {
    border-radius: 12px;
}

.popup-box .modal-content .modal-body {
    padding: 20px 40px 35px;
}

.popup-box .modal-content .modal-body h4 {
    font-weight: bold;
    font-size: 26px;
    color: #222;
    margin: 5px auto 30px;
    max-width: 300px;
    text-align: center;
}

.popup-box label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.popup-box .close {
    position: absolute;
    right: 10px;
    font-size: 31px;
    top: 5px;
    z-index: 999;
}

/* Popup end*/

/* option popup start */

.option-popup li {
    list-style: none;
}

.option-popup li a {
    color: #161616;
    padding: 15px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    font-weight: 500;
}

.option-popup li a:hover {
    text-decoration: none;
    background-color: #efefef;
}

.option-popup .modal-content {
    border-radius: 26px;
    border: none;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.option-popup li:last-child a {
    border: none;
}

/* option popup End */

/* add content start */

.content-box {
    background-color: #fff;
    padding: 30px;
    max-width: 880px;
    margin: 0 auto;
    border-radius: 12px;
    color: #222;
}

.content-box .btn {
    padding: 0 15px;
    text-transform: capitalize;
    white-space: nowrap;
    height: 34px;
    font-size: 14px;
    width: 120px;
}

.content-info {
    display: flex;
}

.media-box {
    margin-right: 40px;
    width: 340px;
}

.content-media-empty-box {
    text-align: center;
    height: 250px;
    background-color: #efefef;
    border-radius: 12px;
    padding: 15px;
    position: relative;
}

.content-media-box {
    border: dashed 2px #dadada;
    height: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.content-media-empty-box input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    cursor: pointer;
    outline: none;
    opacity: 0;
}

.content-media-box .img-note {
    color: #767676;
    font-size: 14px;
    margin-top: 30px;
}

.content-media-box .upload-icon {
    color: #767676;
    font-size: 40px;
}

.content-media-box p {
    max-width: 180px;
}

.content-details {
    flex: 1;
}

.content-details .custom-input {
    width: 100%;
    border: none;
    resize: none;
    border-bottom: 1px solid #ccc;
    height: auto;
    font-size: 20px;
}

.content-details .title-input .custom-input {
    font-size: 30px;
    font-weight: 800;
}

.content-details .custom-input:focus {
    outline: none;
    border-color: #000;
}

.input-note {
    font-size: 13px;
    color: #666;
    display: block;
    margin-top: -5px;
}

.hash-tags {
    border-bottom: 1px solid #ccc;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
}

.hash-tags .tag {
    background-color: #efefef;
    padding: 5px 8px 5px 12px;
    font-size: 14px;
    margin-bottom: 12px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 20px;
    cursor: default;
    display: flex;
}

.delete-tag {
    margin-left: 5px;
    color: #222;
}

.delete-tag:hover {
    color: #814AB1;
}

.file-upload-view {
    border: 1px solid #dfdfdf;
    border-radius: 12px;
    min-height: 150px;
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.file-upload-view h4 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.file-upload-view h4:after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    left: 0;
    top: 47px;
}

.uploaded-file-box {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}

.uploaded-file-box .delete-file {
    right: 0;
    position: absolute;
    top: 0;
    color: #d12295;
    text-decoration: none;
}

.uploaded-file-box:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.uploaded-file-box .uploaded-file {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: block;
    margin-right: 10px;
    background-color: #efefef;
    background-size: cover;
}

.uploaded-file-box .uploaded-file-info {
    flex: 1;
}

.uploaded-file-info .uploaded-img-name {
    font-size: 14px;
    margin-bottom: 2px;
}

.uploaded-file-info .uploaded-file-size {
    font-size: 11px;
    color: #999;
    display: block;
    margin-bottom: 5px;
}

.uploaded-file-info .progress {
    height: 4px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.uploaded-file-info .progress .progress-bar {
    background-color: #824db7;
}

.uploaded-file-info .progress-complete {
    font-size: 11px;
    color: #814AB1;
    font-weight: 600;
}

.sml-heading {
    font-weight: 800;
    font-size: 20px;
}

.access-and-price .custom-control span {
    display: block;
    font-size: 11px;
}

.price-input {
    width: 150px;
}

.price-input .input-group-prepend {
    height: 31px;
}

/* add content end */

/* full page popup start*/

.fullpage-popup {
    position: fixed;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #151515;
}

.confirmation-popup, .welcome-popup {
    /* background-image: url("../images/text.png"); */
    background-size: cover;
}

.fullpage-popup .popup-content {
    padding: 40px;
    width: 415px;
    max-width: 95%;
}

.fullpage-popup .popup-content .graphics {
    width: 170px;
    margin: 0 auto 25px;
}

.fullpage-popup .popup-content .text {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    max-width: 355px;
    margin: 0 auto 30px;
}

.popup-content .action-btns {
    max-width: 355px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.popup-content .action-btns .btn {
    flex-grow: 1;
    max-width: 140px;
    margin: 0 5px;
}

.stripe-note {
    font-size: 13px;
    margin-top: 18px;
    text-align: center;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 0;
}

.stripe-note span {
    display: inline-block;
    font-weight: 700;
}

.stripe-note .logo-stripe {
    display: block;
    width: 42px;
    margin: 8px auto -8px;
}

/* full page popup* end/

/* Welcome popup start*/

.welcome-popup .graphics {
    width: 230px !important;
}

.welcome-popup h5 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 19px;
}

.welcome-popup p {
    font-size: 14px;
}

/* Welcome popup end*/

/* Media Start */

@media screen and (min-width:991px) {
    .post-dialog .feed-box {
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }
    .post-dialog .dialog-body {
        padding-right: 370px;
        width: 955px;
        position: relative;
        border: 1px solid #707070;
        border-radius: 12px;
        overflow: hidden;
        background-color: #272727;
        box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.15);
        max-width: 90%;
    }
    .post-dialog .feed-header {
        position: absolute;
        right: 0;
        width: 370px;
    }
    .post-dialog .feed-box>div {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 370px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .post-dialog .post-img {
        margin-bottom: 0;
    }
    .post-dialog .post-text {
        margin: 20px 0;
        font-size: 14px;
        position: absolute;
        top: 60px;
        left: 20px;
        right: 20px;
    }
    .post-dialog .post-info {
        margin-bottom: 15px;
    }
}

@media screen and (min-width:1920px) {
    .grid-item {
        width: 18.6%;
    }
    .image-caption .caption-heading {
        font-size: 20px;
    }
    .image-caption .caption-text {
        font-size: 16px;
    }
    .feed-section .feeds .right-content {
        padding-left: 1110px;
    }
    .feed-section .feeds .left-content {
        width: 670px;
    }
}

@media screen and (max-width:1450px) {
    .image-caption .caption-heading {
        font-size: 20px;
    }
    .image-caption .caption-text {
        font-size: 16px;
    }
    .grid {
        margin-left: -1%;
        margin-right: -1%;
    }
    .grid-item {
        width: 31.3%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .feed-section .feeds .right-content {
        padding-left: 960px;
    }
    .feed-section .feeds .left-content {
        width: 520px;
    }
}

@media screen and (max-width:1350px) {
    .content-wrapper {
        padding-left: 350px;
        padding-right: 20px;
    }
    .main-wapper .login-footer, .header, .sec-head {
        padding-left: 350px;
        padding-right: 20px;
    }
    .feed-section .feeds .right-content {
        padding-left: 940px;
        padding-right: 20px;
    }
    .feed-section .feeds .left-content {
        width: 570px;
    }
    .feed-section .trending-profiles {
        max-width: 100%;
    }
}

@media screen and (max-width:1270px) {
    .feed-section .feeds .right-content {
        display: none;
    }
    .feed-section .feeds .left-content {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .btn-add-content {
        padding: 0;
        width: 35px;
        height: 35px;
    }
    .btn-add-content span {
        display: none;
    }
    .btn-add-content i {
        margin-right: 0;
        background-color: transparent;
        font-size: 19px;
    }
    .header-right-section .notififations {
        margin-left: 25px;
    }
    .search-section {
        width: 100%;
    }
    .grid-item {
        width: 48%;
        margin-bottom: 20px;
    }
    .main-wapper .login-footer {
        display: none;
    }
    .content-wrapper {
        padding-bottom: 30px;
    }
    .feed-box {
        margin-bottom: 30px;
    }
    .post-grid-box {
        width: 33.33%;
    }
    .post-grid-box a>div {
        display: none;
    }
    .popup-box .modal-content .modal-body {
        padding: 20px 20px 35px;
    }
    .content-info {
        flex-direction: column;
    }
    .media-box {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width:991px) {
    .membership-plans {
        align-items: center;
    }
}

@media screen and (max-width:768px) {
    .toggle-switch {
        display: block;
    }
    .left-navigation {
        left: -500px;
        width: 310px;
    }
    .content-wrapper, .header {
        padding-left: 10px;
    }
    .header {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 10px;
        background-color: #161616;
    }
    .content-wrapper {
        padding-top: 90px;
        padding-right: 10px;
    }
    .left-navigation .logo img {
        max-width: 130px;
    }
    .left-navigation .logo {
        margin-top: 20px;
    }
    .sec-head {
        display: none !important;
    }
    .feed-info {
        margin-bottom: 30px;
    }
    .message-box, .post-info, .feed-header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .post-dialog .dialog-body {
        max-width: 90%;
        margin-top: 50px;
    }
}

@media screen and (max-width:767px) {
    .box {
        max-width: 95%;
    }
    .login, .landing {
        padding-top: 80px;
        max-width: 100%;
    }
    .login .box, .landing .box {
        padding: 88px 10px 20px;
        min-height: 460px;
    }
    .social-login .btn {
        width: 48%;
    }
    .wrapper {
        height: auto;
    }
    .tell-to-fans::before {
        right: -32px;
        width: 30px;
        height: 66px;
        top: -39px;
    }
    .tell-to-fans {
        max-width: 290px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-caption .caption-heading {
        font-size: 16px;
    }
    .image-caption .caption-text {
        font-size: 13px;
    }
    .Profile .user-info .user-details .full-name {
        font-size: 20px;
    }
    .Profile .user-info .user-name {
        font-size: 16px;
    }
    .Profile .user-info .user-img {
        width: 120px;
        height: 120px;
    }
    .profile-tabs .nav-tabs .nav-item {
        margin-right: 0;
        width: 33.33%;
    }
    .profile-tabs .tab-content {
        margin-top: 10px;
    }
    .content-box {
        padding: 25px;
    }
    .fullpage-popup .popup-content {
        padding: 40px 20px;
    }
}

@media screen and (max-width:575px) {
    .tell-to-fans::before {
        right: -15px;
    }
    .tell-to-fans h1 {
        font-size: 35px;
    }
    .box-heading {
        font-size: 24px;
    }
    .post-grid-box {
        padding: 2px;
    }
    .post-grid {
        border-width: 2px;
    }
    .membership-plans .btn {
        width: 100%;
    }
}